.idea/
.idea_modules/
.cache
.history
.target/
project/lib_managed/
project/boot/
project/plugins/lib_managed/
project/plugins/src_managed/
.scala_dependencies
bin/
target/
.classpath
.project
.manager
*.class
target*
.settings
out/*
